@import '../../colors.scss';

.results-filters {
  color: $gray-2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  width: 78%;
  font-size: 14px;
}

.filter-block {
  display: flex;
}

.filter-value.last {
  font-weight: 400;
}

.filter-separator {
  margin-left: 8px;
  margin-right: 8px;
}
